js/bluetooth/nodered/receiver.json
[
    {
        "id": "39e292e.5d4b16e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6771c236.f5e01c",
        "type": "mqtt-broker",
        "z": "",
        "name": "Booster",
        "broker": "ultimate-scientist.cloudmqtt.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d8629787.637208",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "27005ce5.53dee4",
        "type": "ui_tab",
        "z": "",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc7213a7.a9dbc",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "27005ce5.53dee4",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6b579954.383df8",
        "type": "ui_group",
        "z": "",
        "name": "Group 2",
        "tab": "27005ce5.53dee4",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8303528c.2662b",
        "type": "mqtt-broker",
        "z": "",
        "name": "Booster",
        "broker": "ultimate-scientist.cloudmqtt.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "82890f8a.0522e",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0096ff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Booster",
                "default": "#4B7930",
                "baseColor": "#000000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#000000",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#000000",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "BoosterConf",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8378a306.62852",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1a248638.90303a",
        "type": "mqtt-broker",
        "z": "",
        "name": "Booster",
        "broker": "ultimate-scientist.cloudmqtt.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "29d48b61.e7f164",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "e376a793.75c548",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "30ea462.fa52dba",
        "type": "ui_group",
        "z": "",
        "name": "Group 2",
        "tab": "e376a793.75c548",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e376a793.75c548",
        "type": "ui_tab",
        "z": "",
        "name": "Cars Against Humanity",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "37c5b7b0.43c2f8",
        "type": "ui_group",
        "z": "",
        "name": "Group 3",
        "tab": "e376a793.75c548",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44068f22.27e4",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "64adbe2f.78d0e",
        "type": "mqtt in",
        "z": "39e292e.5d4b16e",
        "name": "",
        "topic": "publish_out",
        "qos": "0",
        "datatype": "auto",
        "broker": "8303528c.2662b",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "d06f84c8.0a1728"
            ]
        ]
    },
    {
        "id": "ecf8c5d.ba8aa38",
        "type": "function",
        "z": "39e292e.5d4b16e",
        "name": "register",
        "func": "var votes = flow.get('votes');\nvar id = msg.id;\nvar vote = msg.vote;\n\nvotes[id] = msg.vote;\n\nflow.set('votes',votes);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 400,
        "wires": [
            [
                "3cb474ae.70335c"
            ]
        ]
    },
    {
        "id": "3cb474ae.70335c",
        "type": "function",
        "z": "39e292e.5d4b16e",
        "name": "count",
        "func": " var votes = flow.get('votes');\n var a = 0;\n var b = 0;\n \n for (var key in votes) {\n    if (votes[key] == '3') {\n        a = 0;\n        b = 0;\n        flow.set('votes',{});\n        break;\n    }\n    else if (votes[key] == '1')\n        a++;\n    else if (votes[key] == '2')\n        b++;\n}\n\nmsg.a = a;\nmsg.b = b;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "9713414b.3a2dd",
                "2491df1f.48ec3",
                "c9c56ec5.edd4d",
                "a24a9926.971dc8"
            ]
        ]
    },
    {
        "id": "9713414b.3a2dd",
        "type": "debug",
        "z": "39e292e.5d4b16e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "a",
        "targetType": "msg",
        "x": 831,
        "y": 220,
        "wires": []
    },
    {
        "id": "2491df1f.48ec3",
        "type": "debug",
        "z": "39e292e.5d4b16e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "b",
        "targetType": "msg",
        "x": 806,
        "y": 399,
        "wires": []
    },
    {
        "id": "d06f84c8.0a1728",
        "type": "function",
        "z": "39e292e.5d4b16e",
        "name": "parse",
        "func": "var payload = msg.payload.split(',');\n\nmsg.id = payload[1].trim();\n\ndata = payload[4].trim();\nmsg.vote = data[data.length - 1];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "ecf8c5d.ba8aa38"
            ]
        ]
    },
    {
        "id": "c6549f2.2a6b76",
        "type": "inject",
        "z": "39e292e.5d4b16e",
        "name": "",
        "topic": "",
        "payload": "clear",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 340,
        "wires": [
            [
                "538dad1f.ba8ea4"
            ]
        ]
    },
    {
        "id": "538dad1f.ba8ea4",
        "type": "function",
        "z": "39e292e.5d4b16e",
        "name": "reset",
        "func": "flow.set('votes',{\"clear\":\"3\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "3cb474ae.70335c"
            ]
        ]
    },
    {
        "id": "f8935b4e.fe8d28",
        "type": "ui_button",
        "z": "39e292e.5d4b16e",
        "name": "clear votes",
        "group": "37c5b7b0.43c2f8",
        "order": 4,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "clear",
        "payloadType": "str",
        "topic": "",
        "x": 810,
        "y": 534,
        "wires": [
            [
                "538dad1f.ba8ea4"
            ]
        ]
    },
    {
        "id": "c9c56ec5.edd4d",
        "type": "ui_gauge",
        "z": "39e292e.5d4b16e",
        "name": "",
        "group": "29d48b61.e7f164",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Scenario A",
        "label": "votes",
        "format": "{{msg.a}}",
        "min": 0,
        "max": "27",
        "colors": [
            "#ffffff",
            "#ffffff",
            "#ffffff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 841.5,
        "y": 267,
        "wires": []
    },
    {
        "id": "a24a9926.971dc8",
        "type": "ui_gauge",
        "z": "39e292e.5d4b16e",
        "name": "",
        "group": "30ea462.fa52dba",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Scenario B",
        "label": "votes",
        "format": "{{msg.b}}",
        "min": 0,
        "max": "27",
        "colors": [
            "#ffffff",
            "#ffffff",
            "#ffffff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 801.5,
        "y": 448,
        "wires": []
    }
]